<!doctype html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script>

var app = angular.module('userApp', []);
app.controller('userCtrl', function(   $scope){
$scope.users = [];
$scope.addUser = function(){
	$scope.users.push({userName:$scope.textUsername, checkbox: false});
	$scope.textUsername = '';

}
$scope.deleteUsers = function() {
for ( let i = $scope.users.length-1; i>=0; i--) {
	if ($scope.users[i].checked) {
		$scope.users.splice(i,1);
	}
}
}

$scope.sortUsersasc = function() {
$scope.users.sort(function(a, b){return a.userName > b.userName});
}

$scope.sortUsersdsc = function() {
$scope.users.sort(function(a, b){return a.userName < b.userName});
}


$scope.printAnzahl = function(){
	return $scope.users.length;

}
});


	</script>
	<style>

* { font: 1.5rem Arial;}
	</style>
</head>
<body ng-app="userApp">

<div ng-controller="userCtrl">
	<h2>Anzahl User: <span>{{printAnzahl()}}</span></h2>
<form>
	<input type="text" placeholder="username" ng-model="textUsername">
	<button ng-click="addUser()">User Hinzufügen</button>
	</form>
	<div id="users" ng-repeat="u in users">
	<input type="checkbox" ng-model="u.checked"><span>{{u.userName}}</span>
	</div>
	<button ng-click="deleteUsers()">User Löschen</button>
	<button ng-click="sortUsersasc()">User Sortieren aufsteigend</button>
	<button ng-click="sortUsersdsc()">User Sortieren absteigend</button>


</div>



</body>
</html>
